*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color:#34324a;
   color: white;
   font-family: "Montserrat", sans-serrif;
   min-height: 100vh;
}

header{
   font-size: 1.5rem;
}

header, main, form{
   display:flex;
   justify-content: center;
   align-items: center;
}

header, main{
   min-height: 5vh;
}

form{
   min-height: 20vh;
}

p{
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-size: 1.35rem;
   margin-top: 10px;
}

.by{
   font-weight: 50;
}


form input, form button{
   padding: 0.5rem;
   font-size: 2rem;
   border:none;
   outline: none;
   background: #414863;
   
}

form input{
   color: white;
   font-family: "Montserrat", sans-serif;
   font-size: 1.88rem;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

form button{
   color: white;
   background-color: #414863;
   cursor: pointer;
   transition: all 0.3s ease;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
form button:hover{
   background-color: white;
   color: #414863;
}

.todo-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.todo-list{
   min-width: 30%;
   list-style: none;
}

.todo{
   margin: 0.5rem;
   background-color: #414863;
   color: white;
   font-size: 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 0.5s ease;
}

.todo li{
   flex: 1;
}

.trash-btn, .complete-btn{
   background: #ed5f5a;
   color: white;
   border: none;
   padding: 1rem;
   cursor: pointer;
   font-size: 1rem;
}

.complete-btn{
   background: #39b887;
}

.todo-item{
   padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
   pointer-events: none;
}

.completed{
   text-decoration: line-through;
   opacity: 0.5;
}

.fall{
   transform: translateY(8rem) rotateZ(20deg);
   opacity: 0;
}

select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: none;
   padding: 1rem;
}

.select{
   margin: 1rem;
   position: relative;
   overflow: hidden;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

select{
   color: white;
   width: 10rem;
   cursor: pointer;
   background-color: #414863;
   font-family: "Montserrat", sans-serif;
   font-size: 1rem;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.select::after{
   content: "\25BC";
   position: absolute;
   background: #414863;
   top: 0;
   right: 0;
   padding: 1rem;
   pointer-events: none;
   transition: all 0.3s ease;
}

.select:hover::after{
   background-color: white;
   color: #414863;
   border-bottom-right-radius: 10px;
}

/* Animation */
p{
   white-space: nowrap;
   overflow: hidden;
   transform: translateY(-50%); 
   animation: typewriter 4s steps(44) 1s 1 normal both,
              blinkTextCursor 500ms steps(44) infinite normal;
 }
 @keyframes typewriter{
   from{width: 0;}
   to{width: 24em;}
 }
 @keyframes blinkTextCursor{
   from{border-right-color: rgba(255,255,255,.75);}
   to{border-right-color: transparent;}
 }