*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color:#34324a;
   color: white;
   font-family: "Montserrat", sans-serrif;
   min-height: 100vh;
}

header{
   font-size: 1.5rem;
}

header, form{
   min-height: 20vh;
   display:flex;
   justify-content: center;
   align-items: center;
}

form input, form button{
   padding: 0.5rem;
   font-size: 2rem;
   border:none;
   background: #414863
}

form button{
   color: white;
   background-color: #414863;
   cursor: pointer;
   transition: all 0.3s ease;
}

form button:hover{
   background-color: #34324a;
   color: #414863;
}